
.team{
    display: flex;
    flex-direction: column;
    .title{
        display: flex;
        flex-wrap: wrap;
        h2{
            width: 100%;
        }
        .person{
        display: flex;
        align-items: center;
        justify-content: center;
            img{
            flex-basis: 20%;
            border-radius: 50%;
            }
        }
    }
}
